{% load crispy_forms_tags %}

<!DOCTYPE html>

<html>
<head>
  <title>Completion of Form</title>
</head>
<body style="padding: 20px;">
  <h2><u>Results</u></h2>
  <p><b>You are qualified for a total grant amount of: </b>$65,000</p>
  <p><b>CPF Housing Grant amount: </b>$30,000</p>
  <p><b>Additional CPF Housing Grant amount: </b>$15,000</p>
  <p><b>Special CFP Housing Grant amount: </b>0</p>
  <p><b>Proximity Housing Grant amount: </b>$20,000</p>
</body>
<body style="padding: 20px;">
  <p><a href="./form">Return to Form Page</a></p>

</body>

</html>